@import url(https://fonts.googleapis.com/css?family=Caveat&display=swap);@charset "UTF-8";

/* CSS Document */

body {
  margin: 0;
  font-family: 'Avenir LT Std','\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3','Hiragino Kaku Gothic Pro','\30E1\30A4\30EA\30AA',Meiryo,'\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF',sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
table,
caption,
th,
td,
img,
form {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}

/* テキストエリア内文字サイズのブラウザ間での差異をなくす */

textarea {
  font-size: 100%;
}

/* 画像の下にできる隙間をなくす */

/* hr 要素は不可視で使う */

hr {
  display: none;
}

input {
  border-radius: 0;
}

/**
 * 1. Firefox 36+
 
 * 1. Firefox 36+
 */

[type="number"] {
  width: auto;
  /* 1 */
}

/**
 * 1. Safari 8+
 
 * 1. Safari 8+
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * 1. Safari 8
 
 * 1. Safari 8
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* 1 */
}

/**
 * 1. Internet Explorer 11+
 * 2. Specify textarea resizability
 
 * 1. Internet Explorer 11+
 * 2. textarea要素に、垂直方向のリサイズを指定。
 */

textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * 1. Specify font inheritance of form elements
 
 * 1. フォーム要素に、フォントの継承を指定。
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
}

/**
 * 1. Restore the font weight unset by the previous rule.
 
 * 1. 前の指定により、フォントのウェイトを再定義。
 */

optgroup {
  font-weight: bold;
  /* 1 */
}

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11
 
 * 1. IE8/9/10/11に、overflow時にhiddenを設定。
 */

button {
  overflow: visible;
  /* 1 */
}

/**
 * Remove inner padding and border in Firefox 4+
 
 * Firefox4+に、内側のpaddingとborderを削除。
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/**
 * Replace focus style removed in the border reset above
 
 * 1. フォーカス時のスタイルを定義。
 */

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4
 * 2. Correct the inability to style clickable types in iOS
 
 * 1. Android4に、ネイティブのaudio要素とvideo要素のコントロールのバグを防ぐ。
 * 2. iOSに、クリッカブルなbutton要素のtypeのスタイルを修正。
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * 1. Firefox 40+, Internet Explorer 11-
 
 * 1. Firefox 40+, Internet Explorer 11-
 */

button,
select {
  text-transform: none;
  /* 1 */
}

/**
 * Remove the default button styling in all browsers
 
 * すべてのブラウザにおいて、デフォルトのボタンのスタイルを削除。
 */

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/**
 * Style select like a standard input
 * 1. Firefox 36+
 * 2. Chrome 41+
 
 * 標準的なinput要素のスタイルを選択。
 * 1. Firefox 36+
 * 2. Chrome 41+
 */

select {
  -moz-appearance: none;
  /* 1*/
  -webkit-appearance: none;
  /* 2 */
}

/**
 * 1. Internet Explorer 11+
 
 * 1. Internet Explorer 11+
 */

select::-ms-expand {
  display: none;
  /* 1 */
}

/**
 * 1. Internet Explorer 11+
 
 * 1. Internet Explorer 11+
 */

select::-ms-value {
  color: currentColor;
  /* 1 */
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11
 * 2. Correct the color inheritance from `fieldset` elements in IE
 * 3. Correct the text wrapping in Edge and IE
 * 4. Correct the text wrapping in Edge and IE
 * 5. Correct the text wrapping in Edge and IE
 
 * 1. IE 8/9/10/11に、カラーの継承を定義。
 * 2. IEに、fieldset要素からカラーを継承するように定義。
 * 3. EdgeとIEに、テキストのラッピングを修正。
 * 4. EdgeとIEに、テキストのラッピングを修正。
 * 5. EdgeとIEに、テキストのラッピングを修正。
 */

legend {
  border: 0;
  /* 1*/
  color: inherit;
  /* 2 */
  display: table;
  /* 3 */
  max-width: 100%;
  /* 4 */
  white-space: normal;
  /* 5 */
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari
 * 2. Change font properties to `inherit` in Chrome and Safari
 
 * 1. iOSとSafariに、クリッカブルなtypeのスタイルを修正。
 * 2. ChromeとSafariに、フォントプロパティの継承を変更。
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari
 
 * Chrome, Edge, Safariに、テキストのスタイルを修正。
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari
 * 2. Correct the outline style in Safari
 
 * 1. ChromeとSafariに、アピアランスを修正。
 * 2. Safariに、アウトラインを修正。
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.header_adjust {
  margin-top: -14rem;
  padding-top: 14rem;
}

.icon {
  width: 26px;
}

.evis {
  text-align: center;
  font-size: 0.9em;
  color: #585858;
}

[v-cloak] {
  display: none;
}

body {
  background-color: #64b7e3;
}

.container {
  margin: 42px auto 0;
  padding: 3% 20% 3%;
  background-color: #fefefe;
  position: relative;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}

.container_crip {
  position: absolute;
  top: -12px;
  left: -4px;
  width: 80px;
  height: 80px;
}

.container_husen {
  position: absolute;
  top: 224px;
  left: -4px;
  width: 80px;
  height: 120px;
  background-color: #3e84a8;
  color: #fefefe;
}

.container_husen p {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.more_left {
  position: absolute;
  left: 10%;
  top: 55%;
  text-align: center;
  color: #64b7e3;
}

.more_left span {
  font-size: 4em;
}

.more_right {
  position: absolute;
  right: 10%;
  top: 55%;
  text-align: center;
  color: #64b7e3;
}

.more_right span {
  font-size: 4em;
}

.tag_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: #64b7e3;
  text-align: center;
}

.tag_serch {
  text-align: center;
  color: #64b7e3;
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fefefe;
  background: #3e84a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

.free {
  font-family: 'Caveat', cursive;
  font-size: 1.6em;
}

li.nav_link {
  color: #fefefe;
  text-decoration: none;
  float: left;
  margin: 4px 32px;
  display: inline;
  text-align: center;
  overflow: hidden;
}

.deco_none {
  text-decoration: none;
  color: #fefefe;
}

li.nav_link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img.main_logo {
  width: 220px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.main_copy {
  font-size: 12px;
  vertical-align: middle;
  margin-left: 8px;
  padding-top: 2px;
}

.photo {
  position: relative;
}

.photo:hover .photo__overlay {
  visibility: visible;
}

.photo:nth-child(4n+1) .photo__wrapper {
  background: #DBBCD5;
}

.photo:nth-child(4n+2) .photo__wrapper {
  background: #DBDBBC;
}

.photo:nth-child(4n+3) .photo__wrapper {
  background: #BCDBC8;
}

.photo:nth-child(4n) .photo__wrapper {
  background: #BCC8DB;
}

.photo__wrapper {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

.photo__image {
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.photo__image--landscape {
  max-height: 100%;
  max-width: none;
  opacity: 1;
}

.photo__image--portrait {
  max-width: 100%;
  opacity: 1;
}

.photo__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.photo__controls {
  text-align: right;
}

.photo__action {
  background: #fff;
  border: 0;
  border-radius: .25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: .25rem;
  opacity: .8;
  outline: none;
  padding: .5em .75em;
}

.photo__action:hover {
  opacity: 1;
}

.photo__action--like .icon {
  color: #e4406f;
  margin-right: .5em;
}

.photo__action--liked {
  background: #e4406f;
  color: #fff;
}

.photo__action--liked .icon {
  color: #fff;
}

.photo-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-detail--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-detail--column .photo-detail__pane {
  width: 100%;
}

.photo-detail--column .photo-detail__image {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.photo-detail__pane {
  width: 49%;
}

.photo-detail__image {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  margin-bottom: 1.5rem;
}

.photo-detail__image figcaption {
  margin-top: .5rem;
}

.photo-detail__title {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.photo-detail__title .icon {
  margin-right: .5em;
}

.photo-detail__comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-detail__commentItem {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1.5rem;
  padding: 0 0 1.5rem 0;
}

.photo-detail__commentBody {
  margin: 0 0 1rem 0;
}

.photo-detail__commentInfo {
  color: #8a8a8a;
  margin: 0;
}

.photo-form {
  background: #fff;
  border-radius: .25rem;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-height: 75vh;
  max-width: 600px;
  overflow: scroll;
  padding: 1.5rem;
  position: absolute;
  right: 2%;
  top: 3.5rem;
  width: 90%;
}

.button {
  border: 1px solid #dedede;
  border-radius: .25rem;
  color: #fefefe;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: .5rem .75rem;
  text-decoration: none;
  -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #333;
  color: inherit;
}

.button .icon {
  margin-right: .5em;
}

.button--link {
  border: 0;
}

.button--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.button--inverse:hover {
  background: #222;
  color: #fff;
  opacity: .8;
}

.button--fluid {
  width: 100%;
}

.button--like .icon {
  color: #e4406f;
}

.button--liked {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button--liked .icon {
  color: #fff;
}

.button--liked:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: .8;
}

.form__item {
  border: 1px solid #dedede;
  border-radius: .25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5em .75em;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: .5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: right;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}

.tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #064869;
}

.errors {
  border: 1px solid #c7004c;
  border-radius: .25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

.pagination {
  text-align: right;
}

.panel {
  margin-top: 2rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader__item--heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.loader__item--heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #e4406f;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__item--heart div:after,
.loader__item--heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #e4406f;
}

.loader__item--heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.loader__item--heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: .25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.news_img {
  width: 30%;
  float: left;
  overflow: hidden;
  margin: 1.8% 1.2%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 200px;
  background: #59b9ec;
  padding: 8px;
}

p.ontext {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0px 4px 4px;
  opacity: 0.9;
  color: #fefefe;
  font-weight: bold;
  line-height: 5em;
  text-align: center;
  background: #59b9ec;
  font-weight: bold;
  line-height: 5em;
  text-align: center;
  white-space: nowrap;
  /* 横幅のMAXに達しても改行しない */
  overflow: hidden;
  /* ハミ出した部分を隠す */
  text-overflow: ellipsis;
  /* 「…」と省略 */
  -webkit-text-overflow: ellipsis;
  /* Safari */
  -o-text-overflow: ellipsis;
  /* Opera */
}

p.on_name {
  font-family: 'Caveat', cursive;
  position: absolute;
  bottom: 90px;
  display: block;
  font-weight: bold;
  left: 16px;
  font-size: 2em;
  color: #fefefe;
  text-shadow: 2px 2px 2px #000;
}

.news_img img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  overflow: hidden;
  border-radius: 200px;
}

.news_img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.4;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.clear {
  clear: both;
}

p.read_more {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  font-family: 'Caveat', cursive;
  position: absolute;
  top: 40%;
  display: block;
  font-weight: bold;
  left: 33%;
  font-size: 2em;
  color: #fefefe;
  text-shadow: 2px 2px 2px #000;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.news_img img:hover + p.read_more {
  opacity: 1;
}

.on_category {
  position: absolute;
  bottom: 88px;
  left: 4px;
  display: block;
  width: 90%;
  color: #fefefe;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  z-index: 1;
  white-space: nowrap;
  /* 横幅のMAXに達しても改行しない */
  overflow: hidden;
  /* ハミ出した部分を隠す */
  text-overflow: ellipsis;
  /* 「…」と省略 */
  -webkit-text-overflow: ellipsis;
  /* Safari */
  -o-text-overflow: ellipsis;
  /* Opera */
}

h1.free {
  font-family: 'Caveat', cursive;
  font-size: 3em;
}

ul.talk_event {
  margin: 84px 0px 52px;
}

li.talk_event {
  margin-top: 32px;
  font-size: 1.1em;
}

p.talk_event {
  margin-top: 8px;
  line-height: 1.8em;
  padding: 42px 42px 0px;
}

h2.talk {
  font-size: 1.4em;
  font-weight: bold;
}

h2.speaker {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding: 32px 16px 16px;
}

.interview_img {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  border: solid 4px #424242;
  border-bottom: none;
  background-color: #424242;
}

.big {
  font-size: 3em;
  margin: 24px;
  padding-top: 24px;
}

p.interview_p {
  line-height: 1.8em;
  width: 80%;
  margin: 0 auto;
}

p.on_name {
  font-family: 'Caveat', cursive;
  position: absolute;
  bottom: 90px;
  display: block;
  font-weight: bold;
  left: 16px;
  font-size: 2em;
  color: #fefefe;
  text-shadow: 2px 2px 2px #000;
}

.news_img img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  overflow: hidden;
}

.news_img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.4;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.clear {
  clear: both;
}

p.read_more {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  font-family: 'Caveat', cursive;
  position: absolute;
  top: 40%;
  display: block;
  font-weight: bold;
  left: 33%;
  font-size: 2em;
  color: #fefefe;
  text-shadow: 2px 2px 2px #000;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.news_img img:hover + p.read_more {
  opacity: 1;
}

h1.free {
  font-family: 'Caveat', cursive;
  color: #80c9f0;
  text-align: center;
  padding-top: 62px;
}

p.free {
  color: #80c9f0;
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 62px;
}

ul.talk_event {
  margin: 84px 0px 52px;
}

li.talk_event {
  margin-top: 32px;
  font-size: 1.1em;
}

p.talk_event {
  margin-top: 8px;
  line-height: 1.8em;
  padding: 42px 42px 0px;
}

h2.talk {
  font-size: 1.4em;
  font-weight: bold;
}

h2.speaker {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding: 32px 16px 16px;
}

.session_entry {
  text-align: center;
  line-height: 3em;
  width: 200px;
  height: 50px;
  background-color: #46cdcf;
  color: #fefefe;
  text-decoration: none;
  margin: 82px auto 42px;
}

.session_entry:hover {
  opacity: 0.8;
}

.schedule {
  width: 80%;
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto;
}

.interview_page {
  width: 90%;
  max-width: 660px;
  margin: 0 auto;
  background-color: #fefefe;
}

.career {
  margin: 42px 0px;
}

.career_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  border: solid 1px #585858;
  max-width: 600px;
}

.career_grid .age {
  background-color: #ccc;
  color: #fefefe;
  padding: 8px;
}

.career_grid .age_content {
  background-color: #fefefe;
  padding: 8px;
}

.want {
  position: fixed;
  bottom: 14px;
  left: 120px;
  width: 120px;
  text-align: center;
  color: #fefefe;
  z-index: 3;
}

.want img {
  width: 40px;
}

.good {
  left: 260px;
}

.contact {
  position: fixed;
  bottom: 14px;
  width: 120px;
  text-align: center;
  color: #fefefe;
  right: 120px;
  z-index: 3;
}

.contact img {
  width: 40px;
}

.mail {
  right: 260px;
}

.button_fix {
  background-color: #5ab9ec;
  border-radius: 8px;
  padding: 8px;
}

.interviewer {
  max-width: 990px;
  margin: 0 auto;
  padding: 16px;
  background-color: #f3f3f3;
  margin-top: 120px;
}

.interview_container {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.interview_container img {
  max-width: 140px;
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.interview_desc {
  padding-top: 12px;
}

.movie {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
}

.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.question {
  margin-top: 42px;
  margin-bottom: 24px;
  border-bottom: solid 1px #585858;
  font-weight: bold;
  font-size: 1.1em;
}

.answer {
  padding: 16px;
}

.interview_talk {
  padding: 8px;
}

@media (max-width: 440px) {
  .panel {
    padding: 0px;
  }

  .container {
    padding: 0px;
  }

  .interview_page {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .panel {
    padding: 0px;
  }

  .interview_page {
    width: 100%;
  }
}

.mainimg_container {
  background-color: #282828;
  position: relative;
}

.mainimg {
  width: 100%;
  opacity: 0.6;
}

.mainimg_on {
  position: absolute;
  top: 36%;
  left: 33%;
  width: 80%;
  max-width: 600px;
  -webkit-filter: drop-shadow(0 0 0.75rem #585858);
          filter: drop-shadow(0 0 0.75rem #585858);
  margin: 0 auto;
}

.main_catch {
  position: absolute;
  top: 50%;
  left: 33%;
  width: 80%;
  max-width: 600px;
  -webkit-filter: drop-shadow(0 0 0.75rem #585858);
          filter: drop-shadow(0 0 0.75rem #585858);
  margin: 0 auto;
  font-size: 1.3em;
  text-align: center;
  color: #fefefe;
  border-top: solid 1px #fefefe;
}

.mainimg_container_person {
  background-color: #585858;
  position: relative;
}

.mainimg_on_person {
  width: 100%;
  max-width: 400px;
  border-radius: 200px;
  -webkit-filter: drop-shadow(0 1 0.4rem #282828);
          filter: drop-shadow(0 1 0.4rem #282828);
}

.on_profile {
  position: absolute;
  top: 26%;
  left: 20%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.mainimg_person {
  width: 100%;
  opacity: 0.6;
  -ms-filter: blur(3px);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.profile_desc {
  color: #fefefe;
  padding-left: 48px;
  padding-top: 8%;
}

#person {
  -webkit-transition: all 2s ease;
  -opera-transition: all 2s ease;
  transition: all 2s ease;
}

.person_anima {
  left: 20%;
}

.inline {
  display: grid;
  grid-template-columns: 200px 30px 30px;
}

.inline img {
  width: 28px;
  margin-top: 8px;
}

.inline h1 {
  margin: 0;
  font-size: 2em;
}

.in {
  display: inline;
}

.in p {
  display: inline;
  padding-right: 4px;
}

.in a {
  color: #fefefe;
}

p.desc {
  padding: 12px 0px;
}

/* アニメーション設定 */

.box {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fefefe;
}

.box p {
  text-align: center;
}

.arrowWrap {
  margin-top: 18px;
}

.arrow1 {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow1 2s linear 0s infinite normal;
  animation: arrow1 2s linear 0s infinite normal;
}

.arrow2 {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow2 2s linear 0s infinite;
  animation: arrow2 2s linear 0s infinite;
}

.arrow1 span,
.arrow2 span {
  position: relative;
  display: block;
  left: 50%;
}

.arrow1 span {
  margin-top: -10px;
}

.arrow1 span:before,
.arrow2 span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 2px #fefefe;
  border-right: solid 2px #fefefe;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes arrow1 {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes arrow1 {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@-webkit-keyframes arrow2 {
  0% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }
}

@keyframes arrow2 {
  0% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }
}

