.mainimg_container{

  
}

.mainimg{
  width:100%; 
  opacity:1; 
  position: fixed;
  object-fit: cover;

}

.mainimg_on{
  width:80%;  max-width: 600px;
  filter: drop-shadow(0 0 0.75rem #585858);
  margin: 0 auto;
}

.main_catch{
  width:70%;  max-width: 500px;
  filter: drop-shadow(0 0 0.75rem #585858);
  margin: 0 auto;
  font-size: 1.1em;
  text-align: center;
  color: #fefefe;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  p{
    padding-top: 20%;
  }

  h1{
    border-top: solid 1px #fefefe;
  }

}

.mainimg_container_person{

}

.mainimg_on_person{
  width:100%; 
  max-width: 400px;
  border-radius: 200px;
  filter: drop-shadow(0 1 0.4rem #282828);
  z-index: 0;
  
}

.on_profile{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index:1;
  position: relative;

}

img.mainimg_person{
  width:100%; 
  opacity:0.6; 
  -ms-filter: blur(3px);
  filter: blur(3px);
  position:fixed;
}

.profile_desc{
  color: #fefefe;
  padding-left: 48px;
  padding-top: 8%;

}

#person{
  -webkit-transition: all 2s ease;
  -opera-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.person_anima{

  left: 20%;
}

.inline{
  display: grid;
  grid-template-columns: 200px 30px 30px ;
}
.inline img {
  width: 28px;
  margin-top: 8px;
}

.inline h1 {
  margin: 0;
  font-size: 2em;
}

.in{
  display: inline;
}

.in p{
  display: inline;
  padding-right: 4px;
  
}

.in a{
  color: #fefefe;
}

p.desc {
  padding: 12px 0px;
}

/* アニメーション設定 */

.box{
  position: absolute;
  bottom: 120px;
  left:0;
  right: 0;
  margin: 0 auto;
  color: #fefefe;

}

.box p{
  text-align: center;
}
.arrowWrap {
margin-top: 18px;
}

.arrow1 {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow1 2s linear 0s infinite normal;
  animation: arrow1 2s linear 0s infinite normal;
}

.arrow2 {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow2 2s linear 0s infinite;
  animation: arrow2 2s linear 0s infinite;
}

.arrow1 span,
.arrow2 span {
  position: relative;
  display: block;
  left: 50%;
}

.arrow1 span {
  margin-top: -10px;
}

.arrow1 span:before,
.arrow2 span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 2px #fefefe;
  border-right: solid 2px #fefefe;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}

@keyframes arrow1 {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes arrow2 {
  0% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  60%{
    opacity: 0;
    transform: translateY(50px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;

}

@keyframes fadeperson {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  60%{
    opacity: 0;
    transform: translateY(50px);
  }
  
  100% {
    opacity: 0.6;
    transform: translateY(0);
  }
}

.fadeperson {
  animation-name: fadeperson;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;

}



@-webkit-keyframes rubber {
	from {
    opacity: 0;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
    opacity: 1;
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	  opacity: 1;
	}
  }
  
  @keyframes rubber {
	from {
    opacity: 0;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
    opacity: 1;
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	  opacity: 1;
	}
  }
  

.rubber {
  animation-name: rubber;
  animation-duration: 2.2s;
  animation-timing-function: ease-out;

}


.tagimg, .tagimg2{

}

.tagimg:hover{
  animation-name: rubber;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.tagname:hover + .tagimg2{
  animation-name: rubber;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}