@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.news_img {
  width: 28%;
  float: left;
 overflow: hidden;
 margin: 1.8% 2.6% ;
 display: block;
 object-fit: cover;
 position: relative;
 background: #fefefe;;
 padding: 8px;

 }

 p.ontext{
  position: absolute;
  bottom: 0px;
  width: 100%;
  width: 96%;
  padding: 12px 8px 24px;
  color: #585858;
  font-weight: bold;
  text-align: center;
  background-color: #fefefe;
  font-weight: bold;
  text-align: center;

  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */

  }

  p.on_name{
    position: absolute;
    bottom: 90px;
    display: block;
    left: 16px;
    font-size: 1em;
    color: #fefefe;
  }

 .news_img img {
  transition: 0.3s;
 -webkit-transition: 0.3s;
 overflow: hidden;

 }

.news_img img:hover{transform: scale(1.1);opacity: 0.4; overflow: hidden; z-index: 2;  cursor:pointer;}


.clear{clear: both;}

p.read_more{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  font-family: 'Caveat', cursive;
  position: absolute;
  top: 40%;
  display: block;
  font-weight: bold;
  left: 33%;
  font-size: 2em;
  color: #fefefe;
  text-shadow: 2px 2px 2px #000;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.news_img img:hover + p.read_more{opacity: 1;}

.on_category{

  position: absolute;
  bottom: 88px;
  left: 4px;
  display: block;
  width: 90%;
  color: #fefefe;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  z-index: 1;
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */


}

h1.free{font-family: 'Caveat', cursive; font-size: 3em;}

ul.talk_event{margin: 84px 0px 52px;}
li.talk_event{margin-top: 32px; font-size: 1.1em;}
p.talk_event{margin-top: 8px; line-height: 1.8em; padding: 42px 42px 0px;}
h2.talk{font-size: 1.4em; font-weight: bold;}
h2.speaker{font-size: 1.4em; font-weight: bold; text-align: center; padding: 32px 16px 16px;}